<form name="addoffer-form"
      id="customization-form"
      #fAdd="ngForm"
      novalidate>
  <ul class="form_offer_list">
    <li><div class="form_offer_access class2">
      <app-select-box [disabled]="disabled" [(model)]="value" [values]="values" [option_value_var]="'id'" [option_text_var]="'name'" [click_event]="true"></app-select-box>
    </div></li>
    <li>
      <div class="form_offer_link input-wr"><input
              [(ngModel)]="name"
              [ngModelOptions]="{standalone: true}"
              (keyup)="keypress($event)"
              id="name"
              type="text"
              placeholder="Name"/></div>
      <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
    </li>
    <li>
      <div class="form_offer_access class2">
        <app-select-box [(model)]="access_value" [values]="access_values" [option_value_var]="'value'" [option_text_var]="'name'" [click_event]="true"></app-select-box>
        <!--<select-->
                <!--#offer_access-->
                <!--[(ngModel)]="access_value"-->
                <!--[ngModelOptions]="{standalone: true}"-->
                <!--(click)="keypress($event)"-->
                <!--id="access_value"-->
                <!--class="form_offer_access_select"-->
                <!--name="" data-placeholder="Offer access*">-->
          <!--<option value="null">Offer access*</option>-->
          <!--<option value="1">Public</option>-->
          <!--<option value="0">Private</option>-->
        <!--</select>-->
        <div class="question">
          <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
        </div>
      </div>
    </li>
    <li>
      <div class="form_offer_list_box">
        <div class="form_offer_it input-wr"><input
                [(ngModel)]="url1"
                [ngModelOptions]="{standalone: true}"
                (keyup)="keypress($event)"
                id="url1"
                type="text"
                placeholder="Offer*"/></div>
        <div class="form_offer_cr cr1 input-wr"><input
                [(ngModel)]="share1"
                [ngModelOptions]="{standalone: true}"
                (keyup)="keypress($event)"
                id="share1"
                type="text"/>
        </div>
        <div class="form_offer_cr cr2 input-wr">CR<input
                type="text"
                value=""/>
        </div>
        <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
      </div>
    </li>
    <li>
      <div class="form_offer_list_box">
        <div class="form_offer_it input-wr"><input
                [(ngModel)]="url2"
                [ngModelOptions]="{standalone: true}"
                (keyup)="keypress($event)"
                id="url2"
                type="text"
                placeholder="Offer iteration 2"/></div>
        <div class="form_offer_cr cr1 input-wr"><input
                [(ngModel)]="share2"
                [ngModelOptions]="{standalone: true}"
                (keyup)="keypress($event)"
                id="share2"
                type="text"/></div>
        <div class="form_offer_cr cr2 input-wr">CR<input type="text"/></div>
        <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
      </div>
    </li>
    <li class="automatic">
      <div class="form_offer_list_box">
        <div class="form_offer_it input-wr"><input
                [(ngModel)]="url3"
                [ngModelOptions]="{standalone: true}"
                (keyup)="keypress($event)"
                id="url3"
                type="text"
                placeholder="Offer iteration 3"/></div>
        <div class="form_offer_cr cr1 input-wr"><input
                [(ngModel)]="share3"
                [ngModelOptions]="{standalone: true}"
                (keyup)="keypress($event)"
                id="share3"
                type="text"/></div>
        <div class="form_offer_cr cr2 input-wr">CR<input type="text"/></div>
        <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
      </div>
      <div class="automatic_optimization"><input
              (click)="check()"
              (click)="keypress($event)"
              [(ngModel)]="auto_optimization"
              [ngModelOptions]="{standalone: true}"
              id="auto_optimization"
              type="checkbox"/> <label for="auto_optimization">Automatic optimization</label></div>
    </li>
    <li>
      <!--<div class="form_offer_link input-wr"><input type="text" placeholder="Link*"/></div>-->
      <div class="form_offer_return">
        <div class="form_offer_act_title">Pass:</div>
        <div class="form_offer_act">
          <div class="form_offer_act_name">TID</div>
          <a (click)="addPass($event)" class="form_offer_act_add" id="tid"></a>
        </div>
        <div class="form_offer_act">
          <div class="form_offer_act_name">PID</div>
          <a (click)="addPass($event)" class="form_offer_act_add" id="pid"></a>
        </div>
        <div class="form_offer_act">
          <div class="form_offer_act_name">FROM</div>
          <a (click)="addPass($event)" class="form_offer_act_add" id="from"></a>
        </div>
      </div>
      <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
    </li>
    <li>
      <div class="form_offer_category js-form_offer_category">
        <!--<div class="form_offer_category_data"><span>Category*</span></div>-->
        <div class="form_offer_category_drop_wr">
          <div class="form_offer_category_drop">
            <div class="form_offer_category_drop_head">
              <table>
                <tr>
                  <td class="col1"><input
                          [(ngModel)]="category_id"
                          [ngModelOptions]="{standalone: true}"
                          (keyup)="searchCategory($event)"
                          (keyup)="keypress($event)"
                          (paste)="searchCategory($event)"
                          id="category_id"
                          class="table-input"
                          type="text"
                          placeholder="Category"/></td>
                  <td class="col2">
                    <app-select-box *ngIf="domains_loaded" (pushOnSelected)="getDomain(domains)" [click_event]="true"  [(model)]="domains" [values]="domains_arr" [option_value_var]="'domain'" [option_text_var]="'title'"></app-select-box>
                    <!--<select-->
                            <!--#domain_value-->
                            <!--[(ngModel)]="domains"-->
                            <!--[ngModelOptions]="{standalone: true}"-->
                            <!--(click)="keypress($event)"-->
                            <!--id="domains"-->
                            <!--class="table-select">-->
                      <!--<option value="null" selected disabled>Tracking domain</option>-->
                      <!--<option-->
                              <!--*ngFor="let domains of category_list_search.rows"-->
                              <!--value="{{domains.domain}}">{{domains.domain}}</option>-->
                    <!--</select>-->
                  </td>
                </tr>
              </table>
            </div>
            <div class="form_offer_category_drop_body">
              <table>
                <tr *ngFor="let domain of category_list_search.rows" id="{{domain.id}}" (click)="selectTable(domain.id)">
                  <td class="col1" >{{domain.title}}</td>
                  <td class="col2" >{{domain.domain}}</td>
                  <td class="col3"><a  (click)="deleteCategory($event)" class="del"></a></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form_offer_category_hang">
            <div class="question">
              <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
            </div>
            <a *ngIf="choose_domain" (click)="addCategory()" class="form_offer_category_add"></a>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="form_offer_access">
        <app-select-box [(model)]="device_value" [values]="devices_values" [option_value_var]="'value'" [option_text_var]="'name'" [click_event]="true"></app-select-box>
        <!--<select-->
                <!--[(ngModel)]="device_value"-->
                <!--[ngModelOptions]="{standalone: true}"-->
                <!--(click)="keypress($event)"-->
                <!--class="form_offer_access_select"-->
                <!--id="device_value"-->
                <!--name=""-->
                <!--data-placeholder="Device">-->
          <!--<option value="null">Device</option>-->
          <!--<option value="0">All</option>-->
          <!--<option value="1">Mobile</option>-->
          <!--<option value="2">Desktop</option>-->
        <!--</select>-->
        <div class="question">
          <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
        </div>
      </div>
    </li>
    <li>
      <div class="form_offer_textarea"><textarea
              [(ngModel)]="information"
              [ngModelOptions]="{standalone: true}"
              (keyup)="keypress($event)"
              id="information"
              cols="30"
              rows="10"
              placeholder="Information"></textarea></div>
    </li>
    <li>
      <div class="form_offer_geo form_offer_link">
<app-chosen-input-countries [_parent]="this"></app-chosen-input-countries>
           <!--#geo_div-->
           <!--(click)="selectChange()">-->
        <!--<select-->

                <!--class="form_offer_geo-select"-->
                <!--#countrie_chosen-->
                <!--[(ngModel)]="country_value"-->
                <!--[ngModelOptions]="{standalone: true}"-->
                <!--(click)="keypress($event)"-->
                <!--id="countries"-->
                <!--data-placeholder="Supported GEO*"-->
                <!--multiple="multiple">-->

          <!--<option-->
                  <!--*ngFor="let country of countries, let last=last"-->
                  <!--id="{{country.key}}">{{country.value}}{{last ? initChosen():''}}</option>-->

        <!--</select>-->

      </div>
    </li>
    <li>
      <div
              class="form_offer_browse"
              id="form_offer_browse-screenshot">

        <div
                id="form_offer_screenshot_upload"
                class="form_offer_browse_upload"><span class="form_offer_browse_upload_btn"><input
                #screenshot_upload

                [(ngModel)]="file_screenshot"
                [ngModelOptions]="{standalone:true}"
                (change)="uploading_screenshot($event)"
                (click)="keypress($event)"
                id="file_screenshot"
                class="input_offer_upload"
                type="file" multiple/></span>
          <span class="form_offer_browse_upload_placeholder" [style.display]="flags['form_offer_browse-screenshot'] ? 'none' : 'block'">Offer screenshots</span></div>
      </div>
    </li>
    <li>
      <div class="form_offer_browse" id="form_offer_browse-banner">
        <div id="form_offer_banner_upload" class="form_offer_browse_upload"><span class="form_offer_browse_upload_btn"><input
                #banner_upload
                [(ngModel)]="file_banner"
                [ngModelOptions]="{standalone:true}"
                (change)="uploading_banner($event)"
                (click)="keypress($event)"
                id="file_banner"
                class="input_offer_upload"
                type="file" multiple/>
            </span>
          <span class="form_offer_browse_upload_placeholder" [style.display]="flags['form_offer_browse-banner'] ? 'none' : 'block'">Banner creatives</span>
        </div>
      </div>
    </li>
    <li>
      <div class="form_offer_link input-wr"><input
              [(ngModel)]="rpa"
              [ngModelOptions]="{standalone:true}"
              (keyup)="keypress($event)"
              id="rpa"
              type="text" placeholder="RPA*"/></div>
      <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
    </li>
    <li>
      <div class="form_offer_link input-wr"><input
              class="form_offer_link input-wr"
              [(ngModel)]="cpa"
              [ngModelOptions]="{standalone:true}"
              (keyup)="keypress($event)"
              id="cpa"
              type="text" placeholder="Default CPA*"/></div>
      <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
    </li>
    <li>
      <div class="form_offer_link input-wr"><input
              class="form_offer_link input-wr"
              [(ngModel)]="transaction_life"
              [ngModelOptions]="{standalone:true}"
              (keyup)="keypress($event)"
              id="transaction_life"
              type="text"
              placeholder="ex.: 30"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      /></div>
      <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
    </li>
    <li>
      <div class="form_offer_link input-wr"><input
              [(ngModel)]="carriers"
              [ngModelOptions]="{standalone:true}"
              (keyup)="keypress($event)"
              id="carriers"
              type="text" placeholder="Carrier(s)"/></div>
      <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
    </li>
    <li>
      <div class="form_offer_link input-wr"><input
              [(ngModel)]="platforms"
              [ngModelOptions]="{standalone:true}"
              (keyup)="keypress($event)"
              id="platforms"
              type="text"
              placeholder="Platform(s)"/></div>
      <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
    </li>
    <li>
      <div class="form_offer_access">
        <app-select-box [(model)]="enabled_value" [values]="enabledes_values" [option_value_var]="'value'" [option_text_var]="'name'" [click_event]="true"></app-select-box>
        <!--<select-->
                <!--#status_value-->
                <!--[(ngModel)]="enabled_value"-->
                <!--[ngModelOptions]="{standalone:true}"-->
                <!--(click)="keypress($event)"-->
                <!--class="form_offer_access_select"-->
                <!--id="enabled_value"-->
                <!--name="" data-placeholder="Status">-->
          <!--<option value="null">Status</option>-->
          <!--<option value="1">Active</option>-->
          <!--<option value="0">Disabled</option>-->
        <!--</select>-->
        <div class="question">
          <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
        </div>
      </div>
    </li>
    <li>
      <div class="form_offer_access" id="form_offer_access-whitelist">
        <input
                [(ngModel)]="ip_whitelist"
                [ngModelOptions]="{standalone:true}"
                (keyup)="keypress($event)"
                (paste)="keypress($event)"
                type="text"
                class="form_offer_link"
                id="ip_whitelist"
                placeholder="Whitelist callback IP/IPs"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46"
                />
        <a (click)="addIP()" class="form_offer_act_add ips" style="display: none;"></a>
        <!--<select class="form_offer_access_select" name="" data-placeholder="Whitelist callback IP/IPs">-->
        <!--<option value=""></option>-->
        <!--<option value="">adsfadfdf 1</option>-->
        <!--<option value="">adfadsfadf 2</option>-->
        <!--</select>-->
        <div class="question">
          <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
        </div>
      </div>

    </li>
  </ul>
  <div class="form_offer_btn">
    <button *ngIf="offer_ok" type="submit" class="form_offer_btn_ok" (click)="send()"></button>
    <button *ngIf="offer_ch" type="submit" class="form_offer_btn_ch" (click)="sendOk()"></button>
    <button type="reset" class="form_offer_btn_cancel" (click)="clear()"></button>
  </div>
</form>

