
<tr  class="hidden-row" >
  <td class="checkbox_field t9_1"></td>
  <td class="t9_2"></td>
  <td class="t9_3">
    <div class="page-table_bundle"><a href="#" title="#" class="page-table-plus active"></a></div>
  </td>
  <td class="t9_4"></td>
  <td class="t9_5"></td>
  <td class="t9_6">
    <div class="page-table-trand_wr"><span class="page-table-trand_data"></span> <span class="page-table-trand decrease"></span></div>
  </td>
  <td class="t9_7"></td>
  <td class="t9_8"></td>
  <td class="t9_9"></td>
  <td class="t9_10"></td>
  <td class="t9_4">
    <ul class="page-table_proffers">
      <li><a class="proffers-conv"  title="#"></a></li>
      <li><a class="proffers-stat"  title="#"></a></li>
      <li><a class="proffers-edit"  title="#"></a></li>
    </ul>
  </td>
</tr>


