<div class="info-block">
  <div class="info-block_time"><span class="info-block_time_title">Server Time:</span> 01/08/2015 16:40:49</div>
  <div class="breadcrumbs">
    <ul>
      <li><a href="#" title="#">Home</a></li>
      <li><a href="#" title="#">Settings</a></li>
      <li>Management</li>
    </ul>
  </div>
</div>
<div class="page page-settings">
  <h1>Management</h1>
  <div class="form_offer">
    <form action="">
      <ul class="form_offer_list">
        <li>
          <div class="form_offer_control"><input type="text" placeholder="Enter test URL"/><button class="control-next"></button></div>
          <div class="form_offer_ta"><textarea name="" cols="30" rows="10"></textarea></div>
        </li>
        <li>
          <div class="form_offer_control"><input type="text" placeholder="UID"/><button class="control-next"></button></div>
          <div class="form_offer_ta"><textarea name="" cols="30" rows="10">UID:...
TID:...
Date & Time:...
Pub:...
Subid:...
Subid2:...
Subid3:...
</textarea></div>
        </li>
      </ul>
      <div class="form_offer_btn"><a href="#" title="#" class="form_offer_btn_ch inactive"></a><a href="#" title="#"
                                                                                                  class="form_offer_btn_cancel"></a></div>
    </form>
  </div>
</div>

