
<div class="page page-settings">
  <h1>Payments</h1>
  <div class="form_offer">
    <form
            name="payments-form"
            #fP="ngForm"
            (ngSubmit)="send()"
            novalidate>
      <div class="form_offer_pay">
        <div class="form_offer_pay_cicle">
          <app-select-box  [(model)]="payment_cycley" [values]="selectDays" [option_value_var]="'value'" [option_text_var]="'tittle'" [click_event]="true" [_parent]="this"></app-select-box>
        </div>
        <div class="question">
          <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
        </div>
        <div class="form_offer_pay_send">
          <app-select-box  [(model)]="send_over_stats" [values]="selectStats" [option_value_var]="'value'" [option_text_var]="'tittle'" [click_event]="true" [_parent]="this"></app-select-box>
        </div>
        <div class="question">
          <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
        </div>
      </div>
      <div class="form_offer_btn">
        <button type="submit" class="form_offer_btn_ch inactive"></button>
        <button type="reset" class="form_offer_btn_cancel" (click)="clear()"></button>
      </div>
    </form>
  </div>
</div>
