<div class="page page-payments">
  <div class="page_header">
    <h1>Advertisers</h1>
    <div class="data_set">
      <div class="selection-block_form_item">
        <app-select-box (pushOnSelected)="pushOnDate($event)" [(model)]="value" [values]="values" [option_value_var]="'id'" [option_text_var]="'title'"></app-select-box>
      </div>
      <app-calendar [(inner_custom)]="calendarService.custom" [_parent]="this" [start_day]="calendarService.start_day" [end_day]="calendarService.end_day" [(new_datepicker)]="calendarService.name_class" [(new_datepicker_id)]="calendarService.id" [(new_datepicker_id2)]="calendarService.id2"></app-calendar>
    </div>
  </div>
  <div class="page_info">
    <app-checkbox-table-select [_parent]="this" [attr]="'payments_status'"></app-checkbox-table-select>
    <div class="page_info_result"
         [hidden] = "displaying">
      Displaying {{display_from}}
      -
      {{display_to}} of {{display_of}} results</div>
  </div>
  <div class="page-grid js-page-grid">
    <div class="page-table page-table_offers page-table_payments">
      <div class="page-table_head">
        <table>
          <tr>
            <td class="checkbox_field t6_1"><app-checkbox-table-all></app-checkbox-table-all></td>
            <td class="t6_2">
              <div class="page-table_sort_wr">
              <a class="page-table_sort" (click)="sort('user_name')" id="user_name_sort">Advertiser</a>
              <button #ba (click)="ti.Toggle()" class="search-table" [class.actives]="ti.isActive" value="user_name"></button>
              <app-text-input #ti [clicker]="ba" [_parent]="this" [search]="user_name"></app-text-input>
            </div>
            </td>
            <td class="t6_3">Period</td>
            <td class="t6_4">Amount</td>
            <!--<td class="t6_5">Corrections</td>-->
            <td class="t6_6">Total Amount</td>
            <td class="t6_7">
             Status
            </td>
            <td class="t6_8"> </td>
          </tr>
        </table>
      </div>
      <div class="page-table_body_wrap">
        <div class="page-table_body">
          <table>
            <tr *ngIf="not_found_result" style="text-align: center"><td>Not found results</td></tr>
            <tr *ngFor="let data of list.rows"  [class.group]="data.gr==1">
              <td class="checkbox_field t6_1"><app-checkbox-table-one [id]="data.id"></app-checkbox-table-one></td>
              <td class="t6_2">{{data.user_name}}</td>
              <td class="t6_3">{{data.period}}</td>
              <td class="t6_4">{{data.revenue}}</td>
              <!--<td class="t6_5">{{data.corrections}}<a href="#" title="#" class="page-table_cplus"></a></td>-->
              <td class="t6_6">{{data.total_amount}}</td>
              <td class="t6_7">
                <span class="page-table_prc" id="payment_status" data-name="Payment status" data-type="Select"
                      (click)="chooseField($event,data.id,'null','null','1','1','payment_status','select',data)">{{popupChange.typeEncode('1', 'payments_status')}}
              </span>
              </td>
              <td class="t6_8">
                <ul class="page-table_proffers">
                  <li><a (click)="popupInvoiceService.showInvoice(data.uuid)" class="proffers-invoice" title="Invoice"></a></li>
                  <li><a (click)="popupReportsService.showReportsAdvertiser(data.uuid)" class="proffers-correction"  title="Reports"></a></li>
                </ul>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div class="page-table_foot">
        <table>
          <tr>
            <td class="checkbox_field t6_1"> </td>
            <td class="t6_2">Total:</td>
            <td class="t6_3"> </td>
            <td class="t6_4">{{total_amount}}</td>
            <td class="t6_5">{{total_total_amount}}</td>
            <td class="t6_6"> </td>
            <td class="t6_7"> </td>
            <!--<td class="t6_8"> </td>-->
          </tr>
        </table>
      </div>
    </div>
    <div class="page-footer">
      <div class="pagination">
        <div class="next-disabled"> <span [hidden]= "page_button_next_disabled">Next</span></div>
        <div class="next"> <span  (click)="next()" [hidden]= "page_button_next">Next</span></div>
        <div class="first"><span title="On the first" (click)="first()" [hidden] = "page_button_first"></span></div>
        <div class="prev"><span title="Previous" (click)="prev()" [hidden] = "page_button_prev"></span></div>
        <div class="current_page"><span  [hidden]= "current_page">{{currentPage}}</span></div>
        <div class="next_arrow"> <span title="Next" (click)="next()" [hidden]= "page_button_next_arrow"></span></div>
      </div>
    </div>
  </div>
</div>
<app-popup-invoice [(hidden)]="popupInvoiceService.hidden" [downloadPDF]="downloadPDF" [resendPDF]="resendPDF"></app-popup-invoice>
<app-popup-reports [(hidden)]="popupReportsService.hidden" [list]="popupReportsService.list" [downloadCSV]="downloadCSV" [resendCSV]="resendCSV"></app-popup-reports>
<app-popup-table #popup (ch)="changeField($event)" [(inner_hidden)]="popupChange.hidden" [top]="popupChange.top" [left]="popupChange.left" [(value)]="popupChange.value_id"  [values]="popupChange.values" [type]="popupChange.type" [title]="popupChange.field"></app-popup-table>
<!--[(name)]="popupInvoiceService.name" [(id)]="popupInvoiceService.id" [(information)]="popupInvoiceService.information"-->