
<div class="page page-offer">

  <h1>{{tittle}} {{tittle_id}}</h1>
  <div class="form_offer">
    <form name="addoffer-form">
      <ul class="form_offer_list">
        <li>
          <div *ngIf="last" class="form_offer_access class2" >
            <app-select-box  (pushOnSelected)="changeSelect()" [(model)]="offer_value" [values]="types_values" [option_value_var]="'id'" [option_text_var]="'title'"></app-select-box>
            <div class="question">
              <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
            </div>
          </div>
        </li>
        <app-cpa-offer *ngIf="typeOffer['1']" ></app-cpa-offer>
        <app-cpc-offer *ngIf="typeOffer['2']" ></app-cpc-offer>
        <app-dcpa-offer *ngIf="typeOffer['3']" ></app-dcpa-offer>
        <app-fallback-offer *ngIf="typeOffer['4']"></app-fallback-offer>
      </ul>
    </form>

  </div>
</div>

