
<div class="page page-settings">
  <h1>Company&rsquo;s profile</h1>
  <div class="form_offer">
    <form
            name="company-form"
            #fS="ngForm"
            (ngSubmit)="send()"
            novalidate>
      <ul class="form_offer_list">
        <li>
          <div class="form_offer_link input-wr"><input
                  #companyName
                  (keyup)="keypress($event)"
                  type="text"
                  placeholder="Company name"
                  [(ngModel)]="company_name"
                  [ngModelOptions]="{standalone:true}"
                  id="company_name"
                  required/>
          </div>
          <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
        </li>
        <li>
          <div class="form_offer_link input-wr"><input
                  #Address
                  type="text"
                  placeholder="Address"
                  [(ngModel)]="address"
                  [ngModelOptions]="{standalone:true}"
                  (keyup)="keypress($event)"
                  id="address"
                  required/>
          </div>
          <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
        </li>
        <li>
          <div class="form_offer_link input-wr"><input
                  #City
                  type="text"
                  placeholder="City"
                  [(ngModel)]="city"
                  [ngModelOptions]="{standalone:true}"
                  (keyup)="keypress($event)"
                  id="city"
                  required/>
          </div>
          <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
        </li>
        <li >
          <div class="form_offer_access" >
            <app-select-box [(model)]="value" [values]="values" [option_value_var]="'id'" [option_text_var]="'title'" [click_event]="true" [_parent]="this"></app-select-box>
            <div class="question">
              <div class="question_pop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
            </div>
          </div>
        </li>
        <li>
          <div class="form_offer_link input-wr"><input
                  #Zip
                  type="text"
                  placeholder="Index/Zip"
                  [(ngModel)]="zip"
                  [ngModelOptions]="{standalone:true}"
                  (keyup)="keypress($event)"
                  id="zip"
                  required/>
          </div>
          <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
        </li>
        <li>
          <div class="form_offer_link input-wr"><input
                  #Phone
                  type="text"
                  placeholder="Phone"
                  [(ngModel)]="phone"
                  [ngModelOptions]="{standalone:true}"
                  (keyup)="keypress($event)"
                  id="phone"
                  [textMask]="{mask: maskPhone}"
                  required/>
          </div>
          <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
        </li>
        <li>
          <div class="form_offer_link input-wr"><input
                  #Email
                  type="text"
                  placeholder="General email"
                  [(ngModel)]="email"
                  [ngModelOptions]="{standalone:true}"
                  (keyup)="keypress($event)"
                  id="email"
                  required/>
          </div>
          <div class="form_note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </div>
        </li>
      </ul>
      <div class="form_offer_btn">
        <button type="submit" class="form_offer_btn_ch inactive"></button>
        <button type="reset" class="form_offer_btn_cancel" (click)="clear()"></button>
      </div>
    </form>
  </div>
</div>

